* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.mainindex img {
  width: 34.8%;
}
.logohead {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.mainindex {
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainindex h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.category_list_container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.articlebutton {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 1;
  gap: 10px;
}

.button {
  background-color: #93172a;
  color: white;
  padding: 10px 10px 20px 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  scale: 1.05;
}

.mainlist {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.product_list_container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
}

.product_card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 20px;
  border: 1px solid #93172a;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-sizing: border-box;
}

.product_card:hover {
  scale: 1.05;
}

.productbtn {
  cursor: pointer;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sold_out {
  opacity: 50%;
  display: grid;
  place-self: center center center;
  grid-area: 1/1;
}

.sold_out h3 {
  display: inline-block;
  color: #ffffff;
  position: absolute;
  background-color: rgb(93, 86, 69);
  padding: 10px 30px 10px 30px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main_one_product {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  margin-bottom: 25px;
}

.product_img {
  width: 100%;
  max-width: 400px; /* valgfri, så billedet ikke bliver kæmpe på store skærme */
  margin: 2rem auto;
}

.product_img img {
  width: 100%;
  height: auto;
  display: block;
}

.product_info {
  margin: 2rem 6rem 0 0;
}

.size_picker {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.size_picker label {
  cursor: pointer;
}

.cta_btn {
  background-color: #93172a;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  padding: 10px 70px 10px 70px;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
}

.product_info p,
ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta_btn:hover {
  scale: 1.05;
}

.back_btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.back_btn:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .mainindex {
    margin-left: 50px;
    margin-right: 50px;
  }

  .logohead {
    width: 60%;
  }

  .product_container {
    grid-template-columns: 1fr;
  }

  .product_img {
    width: 100%;
    margin: 0 auto 2rem auto;
  }
  .product_info {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .product_info ul {
    list-style-position: inside;
    padding: 0;
    margin: 1rem auto;
    text-align: center;
  }

  .size_picker {
    justify-content: center;
  }

  .cta {
    align-items: center;
  }
}
